<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST API</title>
    <link rel="stylesheet" href="/main.css">
    <script type="text/javascript" src='/main.js'></script>
  </head>
  <body>
    <div class="prefix">
      <input type="text" name="language" value='Cham'>
      <br>
      U<input type="text" name="prefix" value="AA">xx
      <br>
      UXX<input type="text" name="first" value="">X
      UXX<input type="text" name="last" value="">X
      <input type="button" name="button" value="Create Form" onclick="formConfig()">
    </div>

    <form class="test" action="api/unicodes" method="post">
      <table class='testy'>
      </table>
    </form>

  </body>
</html>
