<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TEST API</title>
    <style media="screen">
      body {
        font-family: monospace;
      }
      table {
        width: 60%;
      }
      input[type="text"] {
          width: 100px;
          height: 25px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr><th> FORM MCFORMFACE </th></tr>
      <form class="test" action="api/unicodes" method="post">
        <tr class='form__language'><td><input type="text" name="language" placeholder='Language'></td></tr>
        <tr class='form__url'><td><input type="text" name="url" placeholder='url'></td></tr>
        <tr class='form__column-title'>
          <td></td>
          <td><input type="text" name="columnTitle" value='UAA1x'></td>
          <td><input type="text" name="columnTitle" value='UAA0x'></td>
          <td><input type="text" name="columnTitle" value='UAA2x'></td>
          <td><input type="text" name="columnTitle" value='UAA3x'></td>
          <td><input type="text" name="columnTitle" value='UAA4x'></td>
          <td><input type="text" name="columnTitle" value='UAA5x'></td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='0'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='1'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='2'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='3'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='4'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='5'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='6'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='7'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='8'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='9'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='A'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='B'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='C'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='D'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='E'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>

        </tr>
        <tr class='form__row-title'>
          <td><input type="text" name="rowTitle" value='F'></td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
          <td class='form__cell'>
             <input type="text" name="code" placeholder="Code">
             <input type="text" name="char" placeholder="Character">
             <input type="text" name="name" placeholder="Name">
          </td>
        </tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
      </form>
    </table>
  </body>
</html>
